body {
  font-family: "Lato", sans-serif;
}

.main {
  margin-left: 220px;
  margin-top: 2%;
  margin-right: 30%;
  font-size: 20px;
  padding: 0px 20px;
}

.submenu {
  background-color: #262626;
  padding-left: 8px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}